# App configuration
PROJECT_NAME="Consumer Attention Mapping System API"
API_STR="/api"

# Security
SECRET_KEY="9a2f7cde3281a8bfe728aef0921a9c3fb2b23a9d20c382103328e1c66708b7e2"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Database (PostgreSQL)
# For running backend locally:
DATABASE_URL="postgresql://postgres:password123@localhost:5432/consumer_attention_db"
# For running inside docker:
# DATABASE_URL="postgresql://postgres:password123@postgres:5432/consumer_attention_db"

# Secondary Database (MongoDB)
# For running backend locally:
MONGODB_URL="mongodb://localhost:27017/"
# For running inside docker:
# MONGODB_URL="mongodb://mongodb:27017/"
MONGODB_DB="consumer_attention_mongodb"
